@model NovoDiagnosis.Models.DiagnosisDetails
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@{
    ViewData["Title"] = "Create";
}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/clockpicker/0.0.7/bootstrap-clockpicker.css">

<style>


    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        -moz-font-smoothing: antialiased;
        -o-font-smoothing: antialiased;
        font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
    }



    .container2 {
        max-width: 500px;
        width: 100%;
        margin: 0 auto;
        position: relative;
    }

    #contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] {
        font: 400 12px/16px "Open Sans", Helvetica, Arial, sans-serif;
    }

    #contact {
        background: #F9F9F9;
        padding: 25px;
        margin: 50px 0;
    }

        #contact h3 {
            color: #F96;
            display: block;
            font-size: 30px;
            font-weight: 400;
        }

        #contact h4 {
            margin: 5px 0 15px;
            display: block;
            font-size: 13px;
        }

    fieldset {
        border: medium none !important;
        margin: 0 0 10px;
        min-width: 100%;
        padding: 0;
        width: 100%;
    }

    #contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
        width: 100%;
        border: 1px solid #CCC;
        background: #FFF;
        margin: 0 0 5px;
        padding: 10px;
    }

        #contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
            -webkit-transition: border-color 0.3s ease-in-out;
            -moz-transition: border-color 0.3s ease-in-out;
            transition: border-color 0.3s ease-in-out;
            border: 1px solid #AAA;
        }

    #contact textarea {
        height: 100px;
        max-width: 100%;
        resize: none;
    }

    #contact button[type="submit"] {
        cursor: pointer;
        width: 100%;
        border: none;
        background: #0CF;
        color: #FFF;
        margin: 0 0 5px;
        padding: 10px;
        font-size: 15px;
    }

        #contact button[type="submit"]:hover {
            background: #09C;
            -webkit-transition: background 0.3s ease-in-out;
            -moz-transition: background 0.3s ease-in-out;
            transition: background-color 0.3s ease-in-out;
        }

        #contact button[type="submit"]:active {
            box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
        }

    #contact input:focus, #contact textarea:focus {
        outline: 0;
        border: 1px solid #999;
    }

    ::-webkit-input-placeholder {
        color: #888;
    }

    :-moz-placeholder {
        color: #888;
    }

    ::-moz-placeholder {
        color: #888;
    }

    :-ms-input-placeholder {
        color: #888;
    }
</style>
<!--main content start-->
<section id="main-content">
    <section class="wrapper">
        <div class="row mb">
            <div class="col-lg-12">
                <!-- /form-panel -->
                <h3 align="centre" class="text-center">Book Appointment For Annual Medical Check</h3>

                @{
                    var user = await UserManager.GetUserAsync(User);
                }

                <div class="row mb">
                    <!-- page start-->
                    <div class="content-panel border rounded">
                        <div class="adv-table">
                            <div class="col-md-3"></div>
                            <div class="col-md-3"></div>

                            @{
                                var Code = Guid.NewGuid().ToString("n").Substring(0, 8);


                            }




                            <p>
                                <br /><br />
                            </p>
                            <p align="center">
                                Kindly fill the form below to submit an appointment for medical check.<br />
                                You will receive a confirmation email if your request is approved.
                                <br />
                                Ensure you check both inbox and spam for the mail.


                            </p>

                            <div class="container2">

                                &nbsp;&nbsp;&nbsp;&nbsp;<hr width="30%" align="center" />
                                                        <form asp-action="Create">
                                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                            <div class="form-group">

                                                                <input type="hidden" asp-for="FullName" class="form-control" value="@user.FullName" />
                                                                <span asp-validation-for="FullName" class="text-danger"></span>
                                                            </div>
                                                            <div class="form-group">

                                                                <input type="hidden" asp-for="StaffId" class="form-control" value="@user.StaffId" />
                                                                <span asp-validation-for="StaffId" class="text-danger"></span>
                                                            </div>
                                                            <div class="form-group">
                                                                <label asp-for="Provider" control-label">
                                                                    Select State

                                                                </label>
                                                                <select class="form-control" id='firstList' name="State" onClick="getStateItem()"></select>
                                                            </div>
                                                            <div class="form-group">
                                                                <label asp-for="Provider" control-label">
                                                                    Select Provider

                                                                </label>
                                                                <select class="form-control" id='secondList' name="Provider"></select>
                                                            </div>


                                                            <div class="form-group">
                                                                <label asp-for="Email" class="control-label"></label>
                                                                <input asp-for="Email" class="form-control" value="@user.Email" />
                                                                <span asp-validation-for="Email" class="text-danger"></span>
                                                            </div>
                                                            <div class="form-group">
                                                                <label asp-for="PhoneNumber" class="control-label"></label>
                                                                <input asp-for="PhoneNumber" class="form-control" value="@user.PhoneNumber" />
                                                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                                            </div>


                                                            <div class="form-group" id='datetimepicker8'>

                                                                <label asp-for="AppointmentDate" class="control-label"></label>
                                                                <input asp-for="AppointmentDate" class="form-control" id="datepicker" min="2019-09-27" max="2019-11-01" />
                                                                <span asp-validation-for="AppointmentDate" class="text-danger"></span>

                                                            </div>
                                                            @*<div class="input-group date" id='datetimepicker8'>
            <label asp-for="AppointmentDate" class="control-label"></label>
            <input asp-for="AppointmentDate" class="form-control" id="datepicker" min="2019-09-25" max="2019-11-01" />
            <span asp-validation-for="AppointmentDate" class="text-danger"></span>
        </div>*@

                                                           
                                                            <div class="form-group">
                                                                <div>
                                                                    <label>Appointment Time</label>
                                                                </div>
                                                                <div class="input-group clockpicker">

                                                                    <input asp-for="AppointmentTime" type="text" class="form-control" value="09:30">
                                                                    <span asp-validation-for="AppointmentTime" class="text-danger"></span>
                                                                    <span class="input-group-addon">
                                                                        <span class="glyphicon glyphicon-time"></span>
                                                                    </span>
                                                                </div>
                                                            </div>



                                                            <div class="form-group">
                                                                <label asp-for="AuthorizationCode" class="control-label"></label>
                                                                <input asp-for="AuthorizationCode" class="form-control" value="NHA-@Code-UNAMC" readonly />
                                                                <span asp-validation-for="AuthorizationCode" class="text-danger"></span>
                                                            </div>




                                                            <div class="form-group">
                                                                <input type="submit" value="Create Appointment" class="btn btn-facebook" />
                                                            </div>
                                                        </form>

                            </div>

                            <div>
                                <a asp-action="Index">Back to List</a>
                            </div>



                            @section Scripts {
                                @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
                            }

                        </div>
                    </div>
                </div>
            </div>
    </section><section></section>
    <script src="http://cdn.jsdelivr.net/timepicker.js/latest/timepicker.min.js"></script>
    <link href="http://cdn.jsdelivr.net/timepicker.js/latest/timepicker.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="dist/bootstrap-clockpicker.min.js"></script>s
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="dist/bootstrap-clockpicker.min.js"></script>
    <script type="text/javascript" src=" https://cdnjs.cloudflare.com/ajax/libs/clockpicker/0.0.7/bootstrap-clockpicker.js"></script>
   
    <script type="text/javascript">
        $('.clockpicker').clockpicker({
            placement: 'top',
            align: 'left',
            donetext: 'Done'
        });
    </script>
    <script type="text/javascript">
        $(function () {
            $("#datepicker").datepicker({ minDate: "+1D", maxDate: "+2M +10D" });
        });
        var input = $('#manual-operations-input').pickatime({
            autoclose: true,
            'default': 'now'
        });

        // Manually toggle to the minutes view
        $('#check-minutes').click(function (e) {
            e.stopPropagation();
            input.pickatime('show').pickatime('toggleView', 'minutes');
        });


        var input = $('#input-a');
        input.clockpicker({
            autoclose: true
        });

        // Manual operations
        $('#button-a').click(function (e) {
            // Have to stop propagation here
            e.stopPropagation();
            input.clockpicker('show')
                .clockpicker('toggleView', 'minutes');
        });
        $('#button-b').click(function (e) {
            // Have to stop propagation here
            e.stopPropagation();
            input.clockpicker('show')
                .clockpicker('toggleView', 'hours');
        });


    </script>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var list1 = document.getElementById('firstList');
            list1.options[0] = new Option('--Select State--', '');
            list1.options[1] = new Option('Lagos', 'Lagos');
            list1.options[2] = new Option('Ogun', 'Ogun');
            list1.options[3] = new Option('Oyo', 'Oyo');
            list1.options[4] = new Option('Ondo', 'Ondo');
            list1.options[5] = new Option('Ekiti', 'Ekiti');
            list1.options[6] = new Option('Osun', 'Osun');
            list1.options[7] = new Option('Kwara', 'Kwara');
            list1.options[8] = new Option('Kogi', 'Kogi');
            list1.options[9] = new Option('Niger', 'Niger');
            list1.options[10] = new Option('Benue', 'Benue');
            list1.options[11] = new Option('Plateau', 'Plateau');
            list1.options[12] = new Option('Jigawa', 'Jigawa');
            list1.options[13] = new Option('Nasarawa', 'Nasarawa');
            list1.options[14] = new Option('Federal Capital Territory - Abuja', 'Federal Capital Territory - Abuja');
            list1.options[15] = new Option('Abia', 'Abia');
            list1.options[16] = new Option('Enugu', 'Enugu');
            list1.options[17] = new Option('Anambra', 'Anambra');
            list1.options[18] = new Option('Imo', 'Imo');
            list1.options[19] = new Option('EBONYI STATE', 'EBONYI STATE');
            list1.options[20] = new Option('CROSS RIVERS', 'CROSS RIVERS');
            list1.options[21] = new Option('AKWA IBOM STATE', 'AKWA IBOM STATE');
            list1.options[22] = new Option('RIVERS STATE', 'RIVERS STATE');
            list1.options[23] = new Option('BAYELSA STATE', 'BAYELSA STATE');
            list1.options[24] = new Option('EDO STATE', 'EDO STATE');
            list1.options[25] = new Option('DELTA STATE', 'DELTA STATE');
            list1.options[26] = new Option('BORNO STATE', 'BORNO STATE');
            list1.options[27] = new Option('GOMBE STATE', 'GOMBE STATE');
            list1.options[28] = new Option('YOBE STATE', 'YOBE STATE');
            list1.options[29] = new Option('ADAMAWA STATE', 'ADAMAWA STATE');
            list1.options[30] = new Option('BAUCHI STATE', 'BAUCHI STATE');
            list1.options[31] = new Option('KANO STATE', 'KANO STATE');
            list1.options[32] = new Option('KADUNA STATE', 'KADUNA STATE');
            list1.options[33] = new Option('SOKOTO STATE', 'SOKOTO STATE');
            list1.options[34] = new Option('KEBBI STATE', 'KEBBI STATE');
            list1.options[35] = new Option('TARABA STATE', 'TARABA STATE');
            list1.options[36] = new Option('ZAMFARA STATE', 'ZAMFARA STATE');
            list1.options[37] = new Option('KATSINA STATE', 'KATSINA STATE');


        });
        function getStateItem() {
            var list1 = document.getElementById('firstList');
            var list2 = document.getElementById("secondList");
            var list1SelectedValue = list1.options[list1.selectedIndex].value;


            if (list1SelectedValue == 'Lagos') {
                list2.options.length = 0;
                list2.options[0] = new Option('--Select Provider--', '');
                list2.options[1] = new Option('Afriglobal Medicare', 'Afriglobal Medicare');
                list2.options[2] = new Option('Afriglobal Medicare', 'Afriglobal Medicare');
                list2.options[3] = new Option('Echolab ', 'Echolab ');
            }
            else if (list1SelectedValue == 'Ogun') {
                list2.options.length = 0;
                list2.options[0] = new Option('--Select--', '');
                list2.options[1] = new Option('Union Diagnostic', 'Union Diagnostic');
                list2.options[2] = new Option('Ace Medicare Clinics', 'Ace Medicare Clinics');
                list2.options[3] = new Option('Mercy Group Clincs', 'Mercy Group Clincs');
                list2.options[4] = new Option('Lanik Medical Center', 'Lanik Medical Center');
            }
            else if (list1SelectedValue == 'Oyo') {
                list2.options.length = 0;
                list2.options[0] = new Option('--Select--', '');
                list2.options[1] = new Option('Union Diagnostic', 'Union Diagnostic');
                list2.options[2] = new Option('Mecure Healthcare Ltd ', 'Mecure Healthcare Ltd ');
            }
            else if (list1SelectedValue == 'Ondo') {
                list2.options.length = 0;
                list2.options[0] = new Option('--Select--', '');
                list2.options[1] = new Option('Sijuwade Specialist Hospital', 'Sijuwade Specialist Hospital');
                list2.options[2] = new Option('Hopeland Specialist Medical Center', 'Hopeland Specialist Medical Center');
            }
            else if (list1SelectedValue == 'Ekiti') {
                list2.options.length = 0;
                list2.options[0] = new Option('--Select--', '');
                list2.options[1] = new Option('Adetade Hospital', 'Adetade Hospital');
                list2.options[2] = new Option('Maternal and Child Hospital', 'Maternal and Child Hospital');
            }
            else if (list1SelectedValue == 'Osun') {
                list2.options.length = 0;
                list2.options[0] = new Option('--Select--', '');
                list2.options[1] = new Option('Union Diagnostic', 'Union Diagnostic');
                list2.options[2] = new Option('Onward Hospital', 'Onward Hospital');
                list2.options[3] = new Option('Living Hope Hospital', 'Living Hope Hospital');
            }
            else if (list1SelectedValue == 'Kwara') {
                list2.options.length = 0;
                list2.options[0] = new Option('--Select--', '');
                list2.options[1] = new Option('Union Diagnostic', 'Union Diagnostic');
                list2.options[2] = new Option('Yusjib Industrial Medicare', 'Yusjib Industrial Medicare');
            }
            else if (list1SelectedValue == 'Kogi') {
                list2.options.length = 0;
                list2.options[0] = new Option('--Select--', '');
                list2.options[1] = new Option('Niger Hospital', 'Niger Hospital');
            }
            else if (list1SelectedValue == 'Niger') {
                list2.options.length = 0;
                list2.options[0] = new Option('--Select--', '');
                list2.options[1] = new Option('Berith Specialist Hospital', 'Berith Specialist Hospital');
                list2.options[2] = new Option('Citizen Hospital', 'Citizen Hospital');
            }
            else if (list1SelectedValue == 'Benue') {
                list2.options.length = 0;
                list2.options[0] = new Option('--Select--', '');
                list2.options[1] = new Option('Sandra Hospital', 'Sandra Hospital');
            }
            else if (list1SelectedValue == 'Plateau') {
                list2.options.length = 0;
                list2.options[0] = new Option('--Select--', '');
                list2.options[1] = new Option('Our Lady of Apostle', 'Our Lady of Apostle');
                list2.options[2] = new Option('Chilas Hospital', 'Chilas Hospital');
            }
            else if (list1SelectedValue == 'Jigawa') {
                list2.options.length = 0;
                list2.options[0] = new Option('--Select--', '');
                list2.options[1] = new Option('Al-Barka Hospital', 'Al-Barka Hospital');
            }
            else if (list1SelectedValue == 'Nasarawa') {
                list2.options.length = 0;
                list2.options[0] = new Option('--Select--', '');
                list2.options[1] = new Option('Sauki Hospital', 'Sauki Hospital');
            }
            else if (list1SelectedValue == 'Federal Capital Territory - Abuja') {
                list2.options.length = 0;
                list2.options[0] = new Option('--Select--', '');
                list2.options[1] = new Option('Life Bridge Diagnostics', 'Life Bridge Diagnostics');
                list2.options[2] = new Option('Dara Medical Center', 'Dara Medical Center');
            }
            else if (list1SelectedValue == 'Abia') {
                list2.options.length = 0;
                list2.options[0] = new Option('--Select--', '');
                list2.options[1] = new Option('Springs Clinic', 'Springs Clinic');
                list2.options[2] = new Option('New Era Hospital', 'New Era Hospital');
                list2.options[3] = new Option('Obioma Hospital', 'Obioma Hospital');
            }
            else if (list1SelectedValue == 'Enugu') {
                list2.options.length = 0;
                list2.options[0] = new Option('--Select--', '');
                list2.options[1] = new Option('Dr. Nlogha Memorial Medical Center', 'Dr. Nlogha Memorial Medical Center');
                list2.options[2] = new Option('Life Bridge Diagnostics', 'Life Bridge Diagnostics');
            }
            else if (list1SelectedValue == 'Anambra') {
                list2.options.length = 0;
                list2.options[0] = new Option('--Select--', '');
                list2.options[1] = new Option('Toronto Hospital', 'Toronto Hospital');
                list2.options[2] = new Option('Ifebi Medical Center', 'Ifebi Medical Center');
            }
            else if (list1SelectedValue == 'Imo') {
                list2.options.length = 0;
                list2.options[0] = new Option('--Select--', '');
                list2.options[1] = new Option('Ikenegbu Hospital', 'Ikenegbu Hospital');
                list2.options[2] = new Option('Ezem Medical Center', 'Ezem Medical Center');
            }
            else if (list1SelectedValue == 'EBONYI STATE') {
                list2.options.length = 0;
                list2.options[0] = new Option('--Select--', '');
                list2.options[1] = new Option('Christ the King Hospital  ', 'Christ the King Hospital  ');
                list2.options[2] = new Option('Mater Misericordiae Hospital ', 'Mater Misericordiae Hospital ');

            }
            else if (list1SelectedValue == 'CROSS RIVERS') {
                list2.options.length = 0;
                list2.options[0] = new Option('--Select--', '');
                list2.options[1] = new Option('Faith Foundation Specialist Clinic', 'Faith Foundation Specialist Clinic');
                list2.options[2] = new Option('Aruba Specialist Hospital ', 'Aruba Specialist Hospital ');
                list2.options[3] = new Option('Bakor Hospital ', 'Bakor Hospital ');

            }
            else if (list1SelectedValue == 'AKWA IBOM STATE') {
                list2.options.length = 0;
                list2.options[0] = new Option('--Select--', '');
                list2.options[1] = new Option('St Anthanasius Hospital Ltd', 'St Anthanasius Hospital Ltd');
                list2.options[2] = new Option('Nduye Medical Services  ', 'Nduye Medical Services ');


            }
            else if (list1SelectedValue == 'RIVERS STATE') {
                list2.options.length = 0;
                list2.options[0] = new Option('--Select--', '');
                list2.options[1] = new Option('Noxford Hospital ', 'Noxford Hospital ');
                list2.options[2] = new Option('St. Martins Hospital  ', 'St. Martins Hospital ');


            }

            else if (list1SelectedValue == 'BAYELSA STATE') {
                list2.options.length = 0;
                list2.options[0] = new Option('--Select--', '');
                list2.options[1] = new Option('Crest Consultants Clinic ', 'Crest Consultants Clinic ');
                list2.options[2] = new Option(' Gloryland Hospital ', 'Gloryland Hospital ');


            }
            else if (list1SelectedValue == 'EDO STATE') {
                list2.options.length = 0;
                list2.options[0] = new Option('--Select--', '');
                list2.options[1] = new Option('Edi International Clinic  ', 'Edi International Clinic  ');
                list2.options[2] = new Option(' Narrow Way Clinic  ', 'Narrow Way Clinic  ');


            }
            else if (list1SelectedValue == 'DELTA STATE') {
                list2.options.length = 0;
                list2.options[0] = new Option('--Select--', '');
                list2.options[1] = new Option('West End Diagnostic Hospital  ', 'West End Diagnostic Hospital  ');
                list2.options[2] = new Option('Twins City and Diagnostics Center   ', ' Twins City and Diagnostics Center ');


            }

            else if (list1SelectedValue == 'BORNO STATE') {
                list2.options.length = 0;
                list2.options[0] = new Option('--Select--', '');
                list2.options[1] = new Option('Borno Medical Center  ', ' Borno Medical Center ');

            }

            else if (list1SelectedValue == 'GOMBE STATE') {
                list2.options.length = 0;
                list2.options[0] = new Option('--Select--', '');
                list2.options[1] = new Option(' Sabana Hospital', 'Sabana Hospital ');

            }

            else if (list1SelectedValue == 'YOBE STATE') {
                list2.options.length = 0;
                list2.options[0] = new Option('--Select--', '');
                list2.options[1] = new Option('City Medical Center  ', ' City Medical Center ');

            }
            else if (list1SelectedValue == 'ADAMAWA STATE') {
                list2.options.length = 0;
                list2.options[0] = new Option('--Select--', '');
                list2.options[1] = new Option('Peace Hospital  ', 'Peace Hospital  ');
                list2.options[2] = new Option(' New Boshang Clinic and Maternity  ', 'New Boshang Clinic and Maternity  ');


            }
            else if (list1SelectedValue == 'BAUCHI STATE') {
                list2.options.length = 0;
                list2.options[0] = new Option('--Select--', '');
                list2.options[1] = new Option('Ree Medicare Ltd  ', 'Ree Medicare Ltd  ');
                list2.options[2] = new Option(' NAF Reference Hospital  ', 'NAF Reference Hospital  ');


            }
            else if (list1SelectedValue == 'KANO STATE') {
                list2.options.length = 0;
                list2.options[0] = new Option('--Select--', '');
                list2.options[1] = new Option('International Clinics and Hospital Ltd  ', 'International Clinics and Hospital Ltd  ');
                list2.options[2] = new Option('Khadijat Memorial Hospital   ', ' Khadijat Memorial Hospital ');


            }
            else if (list1SelectedValue == 'KADUNA STATE') {
                list2.options.length = 0;
                list2.options[0] = new Option('--Select--', '');
                list2.options[1] = new Option(' Manek Specialist Hospital ', 'Manek Specialist Hospital  ');
                list2.options[2] = new Option(' Jowako Hospital  ', 'Jowako Hospital  ');


            }
            else if (list1SelectedValue == 'SOKOTO STATE') {
                list2.options.length = 0;
                list2.options[0] = new Option('--Select--', '');
                list2.options[1] = new Option(' Sahel Specialist Hospital ', ' Sahel Specialist Hospital ');
                list2.options[2] = new Option(' Shepherd Specialist Clinic  ', 'Shepherd Specialist Clinic  ');


            }
            else if (list1SelectedValue == 'KEBBI STATE') {
                list2.options.length = 0;
                list2.options[0] = new Option('--Select--', '');
                list2.options[1] = new Option('DDG Medical Center ', ' DDG Medical Center');



            }
            else if (list1SelectedValue == 'TARABA STATE') {
                list2.options.length = 0;
                list2.options[0] = new Option('--Select--', '');
                list2.options[1] = new Option('First Dominion Hospital  ', ' First Dominion Hospital ');

            }
            else if (list1SelectedValue == 'ZAMFARA STATE') {
                list2.options.length = 0;
                list2.options[0] = new Option('--Select--', '');
                list2.options[1] = new Option('Daula Hospital and Maternity Home ', 'Daula Hospital and Maternity Home ');
                list2.options[1] = new Option('Yariman Bakura Specialist Hospital  ', 'Yariman Bakura Specialist Hospital ');
            }
            else if (list1SelectedValue == 'KATSINA STATE') {
                list2.options.length = 0;
                list2.options[0] = new Option('--Select--', '');
                list2.options[1] = new Option('K-Dara Specialist Hospital   ', ' K-Dara Specialist Hospital ');

            }
        }
    </script>
