@model IEnumerable<NovoDiagnosis.Models.Support>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="content-panel border rounded">
    <br />
    <br />
    <br />
    <br />
    <div class="adv-table">
        <h3 align="center">Thank You For Contacting Us. We will get back to you within 24 hours.
        <br/> You can also call our Call Centre Agent on 09090404387, 09090404388 or 09090404389.
        </h3>   


        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        </table>
    </div>
